.CommentsPage {}

.CommentsPage__wraper {
	display: flex;
	justify-content: space-between;
}

.CommentsPage__create_text_nerrow {
	display: none;
}

.CommentsPage__context {
	width: 65%;
	background: #334155;
	min-height: 80vh;
	border-radius: 10px;
}

.CommentsPage__not_comment {
	font-size: 14px;
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.CommentsPage__create_text {
	width: 30%;
}


.CommentsPage__create_text h4 {
	color: #d1d5db;
	font-size: 16px;
	background: #334155;
	padding: 10px 0;
}

.CommentsPage__create_text form {
	margin-top: 20px;
	position: relative;
}

.CommentsPage__create_text textarea {
    font-size: 16px;
    color: white;
    border: solid white 1px;
    border-radius: 2px;
    margin: 10px 0;
    padding: 4px 6px;
    size: none;
}

.CommentsPage__create_text label {
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.CommentsPage__create_text textarea::placeholder {
    font-size: 16px;
    color: #d1d5db;
    opacity: 0.8;
}

.CommentsPage__create_text_nerrow h3 {
	color: red;
    position: absolute;
    right: 10px;
    top: 70px
}

.CommentsPage__sibmit {
    display: flex;
    justify-content: space-between;
}

.CommentsPage__sibmit .submit {
    color: white;
    background: #6b7280;
    padding: 5px 10px;
    border-radius: 2px;
    transform: 0.4s;
}

.CommentsPage__sibmit .submit:hover {
    color: white;
    background: #3f3f46;
}

@media (max-width: 740px) {

	.CommentsPage__context {
		width: 100;
	}

	.CommentsPage__create_text {
		display: none;
	}

	.CommentsPage__wraper {
		flex-direction: column;
	}

	.CommentsPage__create_text_nerrow {
		display: block;
	}


	/*.CommentsPage__create_text_nerrow h3 {
		color: #d1d5db;
		font-size: 16px;
		background: #334155;
		padding: 10px 0;
	}*/

	.CommentsPage__create_text_nerrow form {
		position: relative;
	}

	.CommentsPage__create_text_nerrow textarea {
	    font-size: 16px;
	    color: white;
	    border: solid white 1px;
	    border-radius: 2px;
	    margin: 10px 0;
	    padding: 4px 6px;
	    size: none;
	}

	.CommentsPage__create_text_nerrow label {
	    color: white;
	    display: flex;
	    flex-direction: column;
	}

	.CommentsPage__create_text_nerrow textarea::placeholder {
	    font-size: 16px;
	    color: #d1d5db;
	    opacity: 0.8;
	}

	.CommentsPage__create_text_nerrow .CommentsPage__sibmit {
		margin-bottom: 10px;
	}

	.CommentsPage__create_text_nerrow h3 {
		color: red;
	    position: absolute;
	    top: 50px;
	    right: 20px;
	}

}