.MainPage {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;

}

@media (max-width: 500px) {
	.MainPage {
		margin-top: 0;
	}
}

.MainPage .not_post {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.MainPage h2 {
	color: white;
	font-size: 22px;
	margin-top: 50px;
}

@media (max-width: 550px) {
	.MainPage h2 {font-size: 16px;}
}

.MainPage .addpost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.MainPage .addpost button {
    color: white;
    background: #4b5563;
    padding: 5px 10px;
    border-radius: 2px;
    transition: 0.4s;
}

.MainPage .addpost button:hover {
    background: #9ca3af;
}

.MainPage .posts {
	width: 65%;
}


@media (max-width: 740px) {
	.MainPage .posts {
		width: 85%;
	}
}

.MainPage .popular {
	width: 30%;
}

@media (max-width: 740px) {
	.MainPage .popular {
		width: 10%;
	}
}

.MainPage h3 {
	color: white;
	padding-top: 8px;
}

@media (max-width: 740px) {
	.MainPage h3 {
		display: none;
	}
}