.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	margin-bottom: 20px;
    border-bottom: solid #374151 1px;
    padding-bottom: 12px;
}

@media (max-width: 740px) {
	.Navbar {
		margin-bottom: 10px;
	}
}

.Navbar__item {
	display: flex;
}

.Navbar__item a {
	padding: 0 10px;
	white-space: nowrap;
	color: white;
	opacity: 0.7;
	transition: 0.4s;
	font-size: 16px;
}

@media (max-width: 550px) {
	.Navbar__item a {font-size: 14px;}
}

.Navbar__item a:hover {
	opacity: 1;
}

.Navbar__login a {
	color: white;
	opacity: 0.8;
	transition: 0.4s;
}

.Navbar__login a:hover {
	opacity: 1;
}

.Navbar__login button {
	color: white;
	opacity: 0.8;
	transition: 0.4s;
}

.Navbar__login button:hover {
	opacity: 1;
}