
.PopularPost {
	/*margin-top: 10px;
*/	position: relative;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

@media (max-width: 740px) {
	.PopularPost {
		margin-bottom: 20px;
	}
}

@media (max-width: 740px) {
	.PopularPost {
		border-bottom: none;
	}
}

.PopularPost .content {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.PopularPost .image{
	width: 50%;
	height: 100px;
	border-radius: 50%;
	background: gray;
}

@media (max-width: 740px)  {
	.PopularPost .image {
		display: none;
	}
}


.PopularPost .star img {
	width: 30px;
}

.PopularPost .star {
	position: absolute;
	left: 0;
	bottom: 0;
}

@media (max-width: 740px)  {
	.PopularPost .star {
		display: inline-block;
		position: relative;
	    /*width: 20px;*/
	}

	.PopularPost .star img {
		width: 40px;
	}

	.PopularPost .notImage {
		display: none;
	}
}

@media (max-width: 460px)  {
	
	.PopularPost .notImage {
		display: none;
	}
}